@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #D2C1B6;

}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1B3C53;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #234C6A;
    padding: 2rem;
    gap: 2rem;
    border-radius: 1rem;
    width: 40vw;

    & h1{
        font-size: 2rem;
    }
}
.time{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#456882;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 30vw;
    position: relative;
    
    & p{
        font-size: 5rem;
        font-weight: 500;
        /* padding: 1rem; */
        
    }
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    gap: 2vw;
    & button{
        height: 2rem;
        width: 9rem;
        border-radius: 1rem;
        border: 1px solid #1B3C53;
        background-color: #456882;
        transition: ease-in-out 0.5s;
        
    }
}
button:hover{
 background-color:#1B3C53;
 border: 2px solid #456882;
}
.sec{
    padding-right: 30%;
    padding-right: 0.5rem;
}

.control{
    position: relative;

}

.mili{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem !important;
    padding: 0.5rem;
    background-color :#234C6A;
    height: 3rem;
    border-radius: 1rem;
    
}
@media screen and (min-width:850px) and (max-width:1100px){
    .time {

        & p{
        font-size: 4rem;
        }
        .mili{
            font-size: 1.5rem !important;
            margin:0rem 1rem 0rem 0rem;
        }
    }
    .main{
        & h1{
            font-size: 1.5rem;
        }
    }
}